body {
    font-family: 'Open Sans', sans-serif;
    background-color: #FFFFFF;
    text-align: center;
    margin: 0;
}

#hero {
    width: 626px;
    margin: 64px auto;  
}

#hero img {
    margin-bottom: 32px;    
}

h1 {
    font-weight: normal;
    font-size: 23px;
    margin-bottom: 16px;    
}

span {
    color: #EE24FF;
    font-weight: bold;
}

.flutuar {
    color: #828282; 
}

#precos_arrasadores,
#pacotes_completos {
    color: #3F3D56;
}

p {
    color: #828282;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 64px; 
}

a {
    color: #3F3D56;
}

#footer {
    text-align: center;
}

#footer img {
    margin-left: 40.83px; 
    margin-top: 40.83px; 
}

#footer a {
    text-decoration: none;
    margin-right: 40.83px;
    font-size: 15px;
    font-weight: bold;
}
